@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.topnav {
    overflow: hidden;
    background-color: #282828;
    padding: 14px;
    border-radius: 14px;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-right: 14px;
    margin-left: 8px;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    display: inline;
}

.topnav a:hover {
    background-color: #ffffff00;
    border-radius: 8px;
    text-decoration: none;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 942px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 942px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 14px;
        top: 14px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        margin: 14px;
    }
}

.main-container {
    text-align: left;
    background-color: #282828;
    padding: 18px;
    border-radius: 14px;
    font-weight: bold;
    margin-bottom: 26px;
    vertical-align: middle;
}

.about-paragraph {
    font-size: 18px;
    text-align: justify;
}

.about-heading {
    font-size: 32px;
    font-weight: bold;
}

.projects-container {
    text-align: left;
    background-color: #282828;
    padding: 18px;
    border-radius: 14px;
    font-weight: bold;
    margin-bottom: 26px;
    vertical-align: middle;
}

.projects-paragraph {
    font-size: 18px;
    text-align: justify;
}

.projects-paragraph1 {
    font-size: 18px;
    text-align: justify;
    margin-left: 48px
}

.projects-heading {
    font-size: 32px;
    font-weight: bold;
}

.image-container {
    text-align: left;
    background-color: #282828;
    padding: 8px;
    border-radius: 14px;
    font-weight: bold;
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 16px;
    height: 100%;
}

.skills-container {
    background-color: #282828;
    padding: 18px;
    border-radius: 14px;
    margin-bottom: 26px;
    font-weight: bold;
}

.web-technologies {
    padding-top: 24px;
}

.skills-heading {
    font-size: 28px;
    font-weight: bold;
}

.skills-paragraph {
    font-size: 16px;
    font-weight: bold;
}

.trainings-container {
    background-color: #282828;
    padding: 18px;
    border-radius: 14px;
    margin-bottom: 26px;
    font-weight: bold;
}

.trainings-heading {
    font-size: 28px;
    font-weight: bold;
}

.acheivements-container {
    background-color: #282828;
    padding: 18px;
    border-radius: 14px;
    margin-bottom: 26px;
    font-weight: bold;
    vertical-align: middle;
}

.acheivements-heading {
    font-size: 28px;
    font-weight: bold;
}

.app {
    height: 62.5px;
    width: 161.5px;
}

.container1 {
    margin: 8px;
}

.profile {
    font-weight: bold;
    font-size: 16px;
    margin-top: 18px;
}

.contact-icons {
    text-align: center;
    padding-bottom: 14px;
}

.fb {
    margin: 8px;
    font-size: 20px;
}

.git {
    margin: 8px;
    font-size: 20px;
}

.ins {
    margin: 8px;
    font-size: 20px;
}

.lin {
    margin: 8px;
    font-size: 20px;
}

.button {
    color: black;
    background-color: white;
    height: 45px;
    width: 140px;
    padding-top: 4px;
    padding-bottom: 8px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    border-width: 0px;
    vertical-align: middle;
    text-decoration: none;
    user-select: none;
    transition: transform .5s;
}

.button:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.b-center {
    text-align: center;
}

.inner-languages {
    border-radius: 8px;
    margin: 8px;
    background-color: #333333;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    transition: transform .3s;
}

.inner-languages:hover {
    -ms-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.my-img {
    border-radius: 14px;
    max-width: 100%;
    height: auto;
    margin: auto;
    border: 5px solid #444444;
    display: block;
    transition: transform .5s;
}

.my-img:hover {
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

html {
    scroll-behavior: smooth;
}

body {
    color: #ffffff;
    background-color: #202020;
    font-family: Handlee;
    letter-spacing: 0.1em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('https://1.bp.blogspot.com/-TEafUuqpP2g/YTIOvr_T2lI/AAAAAAAA7Fw/rJRYqb9iqZc5WbBtIdIF_OrGYBr5gvmAgCLcBGAsYHQ/s16000/bg.png');
}
